*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html, body{
  width: 100%;
  overflow-x: hidden;
}
/* ...............page 1.................... */
.header{
  position: relative;
    background-color: #25b79f;
    max-height: 180vh;
 }  
 .navbar-container input[type="checkbox"],.span{
  display: none;
 }
 .navbar-container{
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;  
  background-color: lightblue;
  box-shadow: 10px 5px 8px 0px #ffffff;
  z-index: 4;
  padding: 10px;
 }
 .navbar-container .nav_item{
  color: white;
  font-size: 22px;
  /* font-size: 32px; */
 }
 .navbar-container .nav_item1{
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 }
 .navbar-container .nav_item1 a{
  color: white;
  font-size: 22px;
  /* font-size: 32px; */
  text-decoration: none;
 }
 .navbar-container .nav_item1 a:hover{
  /* border: 1px solid white;
  border-radius: 20%;
  cursor: pointer; */
  color: tomato;
 }
 .header .div1{
  /* height: 100%; */
  width: 100%;
  /* position: absolute;
  top: 50px;
  left: 0; */
  /* border: 2px solid red; */
 }
 .div1 p{
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  white-space: nowrap;
 }
 .object{
  text-align: center;
  padding: 60px 0px 20px 0px;
  background-color: yellow;
  /* border: 2px solid red; */
 }
 .object h1{
  color: red;
  font-size: 22px;
  margin-bottom: 20px;
 }
 .object p{
  color: orange;
 }
 .resume{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0px 20px 0px;
  /* border: 2px solid red; */
 }
 .resume h2{
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 25px;
 }
 .resume h3{
  margin-top: 15px;
  color: #dddddd;
  font-size: 22px;
  font-weight: 400;
 }
 
 .experience{
  transform: translateX(-200%);
  animation: experience 0.9s ease-in forwards;
  padding: 10px;
  background-color: green;
  /* border: 2px solid red; */
 }
.education{
  transform: translateX(290%);
  animation: education 0.9s ease-in forwards;
  padding: 10px 130px 10px 110px;
  text-align: center;
  background-color: navy;
  /* border: 2px solid red; */
}
@keyframes experience{
  100%{
    transform: translateX(0);
  }
}
  @keyframes education{
    100%{
      transform: translateX(0);
    }
  
}

 /* ......................page 2................... */

 .section{
  background-color: #07374a;
  max-height: 290vh;
 }
 .section .section-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* border: 2px solid red; */
 }
 .section .section-container .sec{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 55px 10px 20px 10px;
  /* border: 2px solid #ff0000; */
 }
 .section-container .sec .sec_content1 h3{
  font-size: 30px;
  margin-bottom: 64px;
  color: white;
 }
 .section-container .sec .sec_content2 .image{
  height: auto;
  width: 10%;
  /* height: 160px; */
  /* width: 160px; */
  object-fit: cover;
  border-radius: 50%;
 }
 .section-container .sec .peragrabh p{
  font-size: 20px;
  margin-top: 40px;
  white-space: nowrap;
  /* border: 2px solid red; */
  color: white;
 }
 .sec .peragrabh .check1{
  /* text-decoration: none; */
  font-size: 20px;
  cursor: pointer;
  color: #25b79f;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  outline: none;
 }
 .sec .peragrabh .check1:hover{
  color: rgb(106, 147, 17);
 }
 .section .section-container .skills{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 50px 10px 20px 10px;
   /* border: 2px solid red; */
 }
 .section-container .skills .skills-content1 h3{
  font-size: 30px; 
  color: white;
 }
 .skills-bar .info{
  margin-top: 54.5px;
  font-size: 20px; 
  color: white;
 }
 .section-container .skills .skills-bar .progress-line{
  position: relative;
  height: 8px;
  width: 415px;
  /* border: 2px solid white; */
  background: white;
  transform-origin: left;
  transform: scaleX(0);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
 }
 .section-container .skills .skills-bar .progress-line span{
  position: absolute;
  background: #25b79f;
  height: 100%;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  border: 1px solid #25b79f;
  /* margin-top: 5vh; */
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
 @keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .html {
  width: 80%;
}
.progress-line .css {
  width: 70%;
}
.progress-line .javascript {
  width: 50%;
}
.progress-line .github {
  width: 70%;
}
.progress-line .core-java {
  width: 50%;
}
.skills-bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -12px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #f0f0f0;
}

.skills-bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #07374a;
  font-size: 12px;
  font-weight: 700;
  background: #f0f0f0;
  padding: 1px 8px;
  border-radius: 3px;
}

.progress-line .html::after {
  content: "80%";
}
.progress-line .css::after {
  content: "70%";
}
.progress-line .javascript::after {
  content: "50%";
}
.progress-line .github::after {
  content: "70%";
}
.progress-line .core-java::after {
  content: "50%";
}

/* ....................page 3........................ */
.portfolio{
  background-color: #25b79f;
  padding-top: 40px;
}
.portfolio-container{
  max-height: 200vh;
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* border: 2px solid white; */
}
.portfolio-container1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px 20px 0px; 
  /* border: 2px solid red; */
}
.portfolio .portfolio-container1 .port_content2 img{
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.portfolio .port_content1 h2{
  font-size: 35px;
  text-align: center;
  color: white;
}
.portfolio .portfolio-container1 .port_content3 h2{
  font-size: 20px;
  text-align: center;
  color: white;
}
.portfolio .portfolio-container1 .port_content3 p{
  font-size: 20px;
  text-align: center;
  color: white;
}
.portfolio .portfolio-container1 .btn1 .button{
  font-size: 15px;
  padding: 5px;
  border-radius: 20%;
 cursor: pointer;
  border: none;
  color: black;
}
.portfolio-container2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px 20px 0px;
  /* border: 2px solid red;   */
}
.portfolio .portfolio-container2 .port_content11 img{
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.portfolio .portfolio-container2 .port_content22 h2{
  font-size: 20px;
 text-align: center;
  color: white;
}
.portfolio .portfolio-container2 .port_content22 p{
  font-size: 20px;
  text-align: center;
  color: white;
}
.portfolio .portfolio-container2 .btn2 .button{
  font-size: 15px;
  padding: 5px;
  border-radius: 20%;
 cursor: pointer;
  border: none;
  color: black;
}
 .button:hover{
  background-color: chocolate;
}


/* .................page 4..................... */

.footer{
  max-height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0px 30px 0px;
  background-color: #07374a;
}
.personal{
  /* border: 2px solid red; */
  color: #ffffff;
  line-height: 40px;
  font-size: 20px;
  padding: 10px;
  background-color: green;
}
.personal h1{
  text-align: center;
  font-size: 22px;
  margin-bottom: 15px;
}
.footer .contact{
  line-height: 40px;
  text-align: center;
  padding: 10px 80px 145px 70px;
  background-color: navy;
  /* border: 2px solid red; */
}
.footer .contact h1{
  font-size: 22px;
  color: white;
}
.footer .contact p{
  font-size: 20px;
  color: white;
}
.declaration{
  /* background-color: #07374a; */
  background-color: yellow;
  text-align: center;
  padding: 20px 10px 20px 10px;
}
.declaration h1{
  color: red;
  font-size: 22px;
  margin-bottom: 10px;
}
.declaration p{
  color: orange;
  font-size: 25px;
}
.declaration h4{
  font-size: 30px;
  margin-top: 30px;
  color: chocolate;
}
 /* ######################### Media query ################################# */

 @media (max-width: 768px){
  .navbar-container{
    position: fixed;
  }
  .span{
    display: block;
    position: absolute;
    top: 2px;
    left: 10px;
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    /* border: 2px solid red; */
  }  
  .span .span-item{
    margin-top: 5px;
    border-radius: 20%;
    height: 5px;
    width: 100%;
    background-color: black;
    /* border: 1px solid red; */
  }
  .navbar-container input[type = "checkbox"]{
    display: block;
    position: absolute;
    top: 2px;
    height: 30px;
    width: 32px;
    left: 10px;
    opacity: 0;
    z-index: 5;
  }
  .navbar-container .nav_item1{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 750px;
    transform: translateX(-110%);
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    /* border: 2px solid red; */
    transition: all 0.3s ease-in-out;
    /* height: 100px; */
  }
  .navbar-container .nav_item1 a{
    color: black;
    
  }
  .navbar-container input[type = "checkbox"]:checked ~ .nav_item1{
    transform: translate(0);
  }
  .span .line1{
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.span .line2{
   transition: transform 0.4s ease-in-out;
}
.span .line3{
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
.navbar-container input[type = "checkbox"]:checked ~ .span .line1{
    transform: rotate(45deg);
}
.navbar-container input[type = "checkbox"]:checked ~ .span .line2{
    transform: scaleY(0);
}
.navbar-container input[type = "checkbox"]:checked ~ .span .line3{
    transform: rotate(-45deg);
} 
.header .div1{
  font-size: 15px;
}
.section-container .sec .sec_content1 h3{
  font-size: 20px;
  color: white;
 }
 .section-container .sec .peragrabh p{
  font-size: 20px;
  color: white;
 }
 .section-container .skills .skills-content1 h3{
  font-size: 20px; 
  color: white;
 }
 .skills-bar .info{
  margin-top: 54.5px;
  font-size: 15px; 
  color: white;
 }
 .portfolio .port_content1 h2{
  font-size: 25px;
  text-align: center;
  color: white;
}
.portfolio .portfolio-container1 .port_content3 h2{
  font-size: 15px;
  text-align: center;
  color: white;
}
.portfolio .portfolio-container1 .port_content3 p{
  font-size: 15px;
  text-align: center;
  color: white;
}
.portfolio .portfolio-container2 .port_content22 h2{
  font-size: 15px;
 text-align: center;
  color: white;
}
.portfolio .portfolio-container2 .port_content22 p{
  font-size: 15px;
  text-align: center;
  color: white;
}
.footer .contact h1{
  font-size: 20px;
  color: white;
}
.footer .contact p{
  font-size: 15px;
  color: white;
}
 }
 /* ################ moble ############## */
 
 @media (max-width: 480px){
  .header .div1{
    font-size: 10px;
  }
  .section-container .skills .skills-content1 h3{
    font-size: 20px; 
    color: white;
   }
  .section-container .skills .skills-bar .progress-line{
    position: relative;
    height: 8px;
    width: 350px;
    /* border: 2px solid white; */
    background: white;
    transform-origin: left;
    transform: scaleX(0);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
   }
   .section-container .sec .peragrabh p{
    font-size: 20px;
    color: white;
   }
 }